.root {
    -fx-background: #2d3636;
}

.combo-box .list-cell
{
    -fx-background: #2d3636;
    -fx-background-color: transparent;
    -fx-text-fill: #fcfffc;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #2d3636, #2d3636;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #2d3636;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: #2d3636;
    -fx-background-color: #9BC4BC;
    -fx-text-fill: #2d3636;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #9BC4BC;
    -fx-text-fill: #2d3636;
}

.combo-box-base
{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
    -fx-background-color: #2d3636, #2d3636, #2d3636, #2d3636;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: #2d3636;
}

.combo-box-base:focused {
    -fx-background-color: #2d3636, #2d3636, #2d3636, #2d3636;
    -fx-background-radius: 0;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.button:hover {
    -fx-background-color: #5d7870;
}

.button {
    -fx-background-color: #9BC4BC;
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color: #31423c;
}

.text-field {
    -fx-background-radius: 0;
    -fx-background-color: #2d3636;
    -fx-text-fill: #fcfffc;
    -fx-prompt-text-fill: rgba(252, 255, 252, 0.24);
}

.button-active {
    -fx-background-color: #2d3636;
}

.button-active:hover {
    -fx-background-color: #2d3636;
}

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #9BC4BC;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-table-cell-border-color:transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background,
.table-view .filler{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
     /*-fx-padding: 0.416667em 0.166667em 0.0em 0.833em; !* 5 2 0 10*/
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab
{
    -fx-background-color: rgba(4, 15, 15, 0.41);
}

.tab{
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected
{
    -fx-background-color: #040F0F;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.dark-background {
    -fx-background-color: #040F0F;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #fcfffc;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #9BC4BC;
    -fx-font-weight: bold;
}

